#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.main-trav img{
    width:100%
}
.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i
{
float: right;
}

.movie_text span
{
color: #ff7700;
}
.environment_18{
    margin-top:13px;
}
.environment_18 h4{
    border-bottom: 1px solid white;
    padding:8px;
}
.environment_18 img{
    border-radius: 20px;
}
.environment_18 p{
    margin-top:13px;
}
